{% extends "model-page.html" %}

{% block content %}

   <h2>Note</h2>

<form action="submit" method="POST"> {% csrf_token %} <!-- generate security token -->
    <label>Note</label>
    <br>
    <input type="number" name="id" value="{{ note.id }}">
    <textarea name="note" rows="32" cols="64">{{ note.note }}</textarea>
    <br>
    <div align="left">
         <a href="/">
            <button type="Cancel">Cancel</button>
        </a>
        <a href="save">
            <button type="submit">Save</button>
        </a>
    </div>

</form>






{% endblock %}